<h2 id="header">Comments</h2>

<div class="table-responsive mt-4 mx-4">
    <table class="bills w-100">
        <thead>
            <tr>
                <th scope="col">Comment Date</th>
                <th scope="col">UserID</th>
                <th scope="col">Comment Text</th>
                <th scope="col">Report Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="comment : ${clist}">
                <td th:text="${comment.commentDate}"></td>
                <td th:text="${comment.userId}"></td>
                <td th:text="${comment.commentText}"></td>
                <td>
                    <form action="/comment/report" method="post">
                        <input type="hidden" name="billId" th:value="${T(com.csc340.CIC.comment.BillIdFormatter).formatBillId(comment.billId)}" />
                        <input type="hidden" name="commentId" th:value="${comment.commentId}" />
                        <button type="submit">Report</button>
                    </form>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>