<h2 id="header">Comments</h2>

<div class="table-responsive mt-4 mx-4">
    <table class="bills w-100">
        <thead>
            <tr>
                <th scope="col">Comment Date</th>
                <th scope="col">User Name</th>
                <th scope="col">Comment Text</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="comment : ${clist}">
                <td th:text="${comment.commentDate}"></td>
                <td th:text="${comment.username}"></td>
                <td th:text="${comment.commentText}"></td>
            </tr>
        </tbody>
    </table>
    
</div>