.navbar {
    min-width: 1200px;
}
.main-content {
    margin-top: 132px;
}
.header {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.comment {
    border: 5px solid #1900ff;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .reply {
    border: 3px solid #007bff;
    margin-left: 20px; /* Indent the replies */
    margin-bottom: 5px;
    padding: 5px;
  }