<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currently in Congress</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
        :root, [data-bs-theme=light] {
            --bs-nav-pills-link-active-bg: #8f474a;
        }
    </style>
    <link rel="stylesheet" href="/css/Congress.css">
</head>
<body>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand fs-1" text href="#"><img src="/img/cic-logo-1.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> 
            <div id="navbar-content" class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav nav-pills me-4 mb-2">
                    <li class="nav-item">
                        <a class="nav-link fs-4" href="/bill/all">Bills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4" href="#">Representatives</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4" href="#">Vote Records</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4" href="#">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4" href="#">Mods</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4" href="/user/login">Login</a>
                    </li>
                </ul>                
            </div>    
        </div>
    </nav>
</body>
</html>
